<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>RSS Feed</title>
</head>
<body>

<div class="container mt-5">
  <h1>{{ data.Title }}</h1>
  <p>{{ data.Description }}</p>

  <div class="row">
    {% for post in data.posts %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body ">
            <h5 class="card-title">{{ post.Title }}</h5>
            <p class="card-text">{{ post.Description }}</p>
            <a href="{{ post.Link }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
